doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Brella+
    body 
        include ../../header/header 
        main.main
            .main__container
                .main__present 
                    .main__wrapper 
                        .main__content-one
                            .main__title Give your team peace of mind with supplemental health insurance from Brella. 
                            .main__subtitle I'm wondering... 
                            .main__forms
                                input.main__what(type="text" name="What I finde" value="") 
                                button.main__finde(type='submit') Find out 
                        .main__advices
                            .about__column(class='about__column-one') 
                                .item-about 
                                    .item-about__icon 
                                        img(src=require("../../img/svg/01.png") alt='Umbrella') 
                                    .item-about__letters
                                        .item-about__title More coverage
                                        .item-about__text Brella covers 13,000+ injuries and illnesses from concussions to cancer.
                            .about__column(class='about__column-two') 
                                .item-about 
                                    .item-about__icon 
                                        img(src=require("../../img/svg/02.png") alt='Sign') 
                                    .item-about__letters(class="item-about__letters2")
                                        .item-about__title Less hassle
                                        .item-about__text One easy-to-manage plan with paperless install and online admin tools.
                            .about__column(class='about__column-three') 
                                .item-about 
                                    .item-about__icon 
                                        img(src=require("../../img/svg/03.png") alt='Case') 
                                    .item-about__letters(class="item-about__letters3")
                                        .item-about__title Faster benefits
                                        .item-about__text Brella pays claims in hours–not weeks so your people can rest easy.
                .main__today 
                    .today
                        .today__wrapper
                            .today__body 
                                .today__row-one
                                    .today__column
                                        .today__item-one
                                            .today__quastion Why Brella?
                                            .today__title Today, any health insurance deductible can feel like a high deductible.
                                            .today__text Brella's supplemental health plan enhances your health benefit strategy to ensure that health hardships don't become financial burdens.
                                            .today__end See our plan 
                                            .today__line 
                                                img(src=require("../../img/svg/LineToday.png") alt='Line')
                                    .today__column
                                        .today__row-two 
                                            .today__sign
                                                .today__sign-title 60% 
                                                .today__sign-texts 
                                                    .today__sign-text1 of Americans 
                                                    .today__sign-text2 would have to borrow 
                                                .today__sign-text1 to cover an unexpected $1000
                                                .today__sign-text1  expense
                                            .today__sign 
                                                .today__percent $1,644
                                                .today__rectangle 
                                                    img(src=require("../../img/svg/Rectangle1.png") alt='Rectangle')
                                                .today__sign-text Deductible
                                            .today__sign 
                                                .today__percent $4,039
                                                .today__rectangle 
                                                    img(src=require("../../img/svg/Rectangle2.png") alt='Rectangle')
                                                .today__sign-text Annual Max
                                        .today__column-finish 2020 individual averages (Source: KFF) 
                .main__customizable 
                    .customizable 
                        .customizable__body
                            .customizable__row 
                                .customizable__column(class='customizable__column-one') 
                                    .customizable__content(class='customizable__content-one')
                                        .customizable__epigraph brella brings
                                        .customizable__start 
                                            .customizable__title Customizable benefits
                                            .customizable__arrow 
                                                img(src=require("../../img/svg/Arrow.png") alt='Arrow')
                                        .customizable__subtitle Paperless install & admin
                                        .customizable__subtitle Effortless enrollment
                                        .customizable__subtitle Easy claims experience
                                        .customizable__subtitle Fast benefit payouts
                                        .customizable__subtitle(class='customizable__subtitle-last') Concierge support
                                .customizable__column(class='customizable__column-two')
                                    .customizable__content(class='customizable__content-two')
                                        .customizable__text(class='customizable__text-one') Every Brella plan comes with a benefit for Moderate, Severe, and Catastrophic conditions. Employees can select the payout amounts that fit their needs and their budget.
                                        .customizable__text Employers can fund part or all of the premiums—or offer Brella as a voluntary benefit. The choice is up to you.
                .main__predict 
                    .predict 
                        .predict__wrapper 
                            .predict__body 
                                .predict__header 
                                    .predict__description 
                                        .predict__epigraph one plan, more coverage 
                                        .predict__title No one can predict which health issues might come their way. 
                                        .predict__text Our broad supplemental coverage gets rid of the guesswork and
                                        .predict__text puts cash in your team’s pockets for most conditions that require
                                        .predict__text(class='predict__text-last') urgent medical attention.
                                    .predict__description 
                                        img(src=require("../../img/svg/Family.png") alt='Family')
                                .predict__row 
                                    .predict__column 
                                        .predict__number 5K
                                        .predict__subtitle covered injuries and illnesses from
                                        .predict__subtitle fractures and appendicitis to cancer
                                    .predict__column 
                                        .predict__number 1X
                                        .predict__subtitle more covered conditions than Accident 
                                        .predict__subtitle and Critical Illness plans—combined
                                    .predict__column 
                                        .predict__number 40%
                                        .predict__subtitle plans are 100% guaranteed issue.
                                        .predict__subtitle No medical underwriting required
                                    .predict__column 
                                        .predict__number 0
                                        .predict__subtitle Zero limitations or exclusions for
                                        .predict__subtitle(class='predict__subtitle-last') pre-existing conditions
                                .predict__plan 
                                    .predict__phone 
                                        img(src=require("../../img/svg/Phone.png") alt='Phone')
                                    .predict__phone(class='predict__phone-two') 
                                        .predict__content
                                            .predict__epigraph-two a better claims experience 
                                            .predict__title Give your people a plan that pays in hours—not weeks.
                                            .predict__text Your team can’t wait for peace of mind. Brella pays on diagnosis,
                                            .predict__text so members can file a claim sooner and get paid faster via our 
                                            .predict__text(class='predict__text-this') Member Portal or mobile app. 
                                            .predict__invitation Play Video 
                                            .perdict__line 
                                                img(src=require("../../img/svg/LineToday.png") alt='Line')
                .main__employers 
                    .employers
                        .employers__body 
                            .employers__wrapper
                                .employers__epigraph for employers
                                .employers__title Easy enrollment meets 
                                .employers__title(class='employers__title-last') simple administration.
                                .employers__text Brella brings 100% paperless implementation, enrollment,
                                .employers__text(class='employers__text-last') and admin. Plug into our platforms or we’ll plug into yours.
                                .employers__group 
                                    .employers__invitation Learn more
                                    .employers__line 
                                        img(src=require("../../img/svg/LineToday.png") alt='Line')
                .main__backed 
                    .backed 
                        .backed__wrapper 
                            .backed__body 
                                .backed__title Proudly backed by 
                                .backed__row 
                                    .backed__column 
                                        .backed__arrow1 
                                            img(src=require("../../img/svg/arrow1.png") alt='Arrow')
                                        .backed__brewer 
                                            img(src=require("../../img/svg/brewer.png") alt='Brewer')
                                    .backed__column(class='backed__column2') 
                                        .backed__ventures 
                                            img(src=require("../../img/svg/ventures.png") alt='Ventures')
                                    .backed__column(class='backed__column3')  
                                        .backed__digitalis 
                                            img(src=require("../../img/svg/digitalis.png") alt='Digitalis')
                                    .backed__column(class='backed__column4') 
                                        .backed__founder 
                                            img(src=require("../../img/svg/founder.png") alt='Founder')
                                    .backed__column(class='backed__column5') 
                                        .backed__symphony 
                                            img(src=require("../../img/svg/simphony.png") alt='Simphony') 
                                        .backed__arrow2 
                                            img(src=require("../../img/svg/arrow2.png") alt='Arrow') 
                .main__bigline 
                    .bigline 
                        .bigline__wrapper 
                            .bigline__body
                                img(src=require("../../img/svg/bigLine.png") alt='Line') 
                .main__benefits 
                    .benefits 
                        .benefits__wrapper 
                            .benefits__body 
                                .benefits__row 
                                    .benefits__column 
                                        .benefits__picture 
                                            img(src=require("../../img/svg/benefOne.png") alt='Benefits')
                                        .benefits__epigraph Podcast
                                        .benefits__subtitle Better Voluntary Benefits with NFP
                                        .benefits__subtitle Voluntary Benefits Practice Leader,
                                        .benefits__subtitle Kim Heald
                                    .benefits__column 
                                        .benefits__picture 
                                            img(src=require("../../img/svg/benefTwo.png") alt='Benefits')
                                        .benefits__epigraph Insurance Innovation
                                        .benefits__subtitle How to Design Simpler Insurance
                                        .benefits__subtitle Benefits
                                    .benefits__column 
                                        .benefits__picture 
                                            img(src=require("../../img/svg/benefThree.png") alt='Benefits')
                                        .benefits__epigraph Benefits Strategy
                                        .benefits__subtitle Executive Benefits Outlook with Dan
                                        .benefits__subtitle(class='benefits__subtitle-last') Aceti 
                .main__solution 
                    .solution
                        .solution__body 
                            .solution__column(class='solution__column-one')
                            .solution__column(class='solution__column-two') 
                                .solution__content 
                                    .solution__title Ready to explore Brella’s
                                    .solution__title supplemental health 
                                    .solution__title(class='solution__title-one') solution? 
                                    .solution__title(class='solution__title-two') Let’s talk.
                                    button.solution__get(type='submit') Get in touch 
        footer.footer 
            .footer__container 
                .footer__body 
                    .footer__wrapper 
                        .footer__row 
                            .footer__column 
                                .footer__content 
                                    a.footer__logo 
                                        img(src=require("../../img/svg/logoFuter.png") alt='Logo')
                                    .footer__comp 
                                        .footer__pages Join Brella
                                        .footer__page Our Plan
                                        .footer__page Employers
                                        .footer__page Brokers
                                        .footer__page Members
                                    .footer__comp 
                                        .footer__pages Company
                                        .footer__page About
                                        .footer__page Blog
                                        .footer__page Careers
                                        .footer__page Contact
                            .footer__column 
                                .footer__title Get the latest
                                .footer__text Sign up to receive benefits news and insights in your 
                                .footer__text(class='text-last') inbox once a month.
                                .footer__go 
                                    input.footer__mail(type="text" name='mail' placeholder='Email*')
                                    button.footer__arrow(type='submit') 
                                        img(src=require("../../img/svg/arrowFuter.png") alt='Arrow')
                                .footer__icons 
                                    .footer__icon 
                                        img(src=require("../../img/svg/in.png") alt='In')
                                    .footer__icon 
                                        img(src=require("../../img/svg/birth.png") alt='Birth')
                                    .footer__icon 
                                        img(src=require("../../img/svg/moviV.png") alt='Movi') 
                        .footer__line 
                            img(src=require("../../img/svg/footerLine.png") alt='Line') 
                        .footer__text Brella is a limited benefit policy; it is not a substitute for health insurance. The information provided on this website is illustrative only. A complete description of benefits, limitations,
                        .footer__text and exclusions are provided in your certificate of Insurance and applicable Riders. For a summary of limitations and exclusions, see our FAQ. Payout values listed do not guarantee an
                        .footer__text(class='footer__text-last2') amount to be paid for listed conditions. Product not available in all states. All coverage is subject to the terms and conditions of the master group policy. 
                        .footer__text(class='footer__text2') Brella is underwritten by Greenhouse Life Insurance Company (NAIC 80055). Form No. PFSB11-TX 
                        .footer__text(class='footer__text2-last') Reach us by mail at 2093 Philadelphia Pike #2496, Claymont, DE 19703 and by phone at 
                        .footer__finish 
                            .footer__copy © 2021 Brella Insurance Inc. All Rights Reserved. 
                            .footer__command 
                                .footer__comby Privacy
                                .footer__comby 
                                    img(src=require("../../img/svg/comby.png") alt='Comby')
                                .footer__comby Terms of Service